#formatted-address{
    font-style: italic;
    color: black;
}



.btn {
    margin: 10px 0;
}

#formatted-address{
    font-style: italic;
    background-color: white;
    color: black;
}

#map{
    height: 400px;
    width:100%;
}